{#this is the main todos page that lists all your todos#}

{% extends 'base.html' %}

{% block content %}
<style>
.table-wrap {
    overflow-x: auto; /* Enables horizontal scrolling if table overflows */
}
.table td, .table th {
    white-space: nowrap; /* Ensures the content of the table cells does not wrap */
    max-width: 200px; /* Sets a maximum width for the cells */
    overflow: hidden; /* Hides any content that overflows the cell's box */
    text-overflow: ellipsis; /* Adds an ellipsis to any text that overflows */
}
</style>

    <h2>Todo List</h2>

{#    create button #}
    <a href="{% url 'todo_create' %}" class="btn btn-success">Create Todo</a>
    <hr>

{#    list of todos in table format #}
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date Created</th>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.created_date }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.completed }}</td>
            <td>{{ todo.due_date }}</td>
            <td>
                <a href="{% url 'todo_update' todo.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'todo_detail' todo.id %}" class="btn btn-secondary">Detail</a>
                <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
         {% empty %}
        <tr><td colspan="4">No todos yet.</td></tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}